
.container_sec{
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_stats{
  background: linear-gradient(109deg, white 6%, rgba(217, 217, 217, 0) 100%);
  border-radius: 16px;
  backdrop-filter: blur(12px);
  background: #ffffff79;
}
