@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.lucky{
  color: white;
  font-family: Luckiest Guy;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* Boton Hamburguesa */

.hamburger span {
  width: 32px;
  height: 2px;
  display: block;
  margin: 5px auto;
  transition: all 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  background-color: #000;
}

.hamburger.is-active span:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.transition-height{
  transition: height .5s;
}

html{
    background-image: url("/img/landscape_first.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}


