@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
    overflow: hidden;
  }

#TAF,
.circle {
  fill: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(circle, #cc3333, #a62323);
  width: 100%;
  height: 100%;
}
.circle {
  box-shadow: inset 0px 0px 160px #000;
  animation: circle-shadow 2s ease-in;
}
.six {
  width: 120vw;
  height: 120vw;
  background: #a62323;
  border-radius: 120vw;
  z-index: 1;
  animation-delay: 0s;
}
.five {
  width: 100vw;
  height: 100vw;
  background: #a62323;
  border-radius: 100vw;
  z-index: 2;
  animation-delay: 0.1s;
}
.four {
  width: 80vw;
  height: 80vw;
  background: #cc3333;
  border-radius: 80vw;
  z-index: 3;
  animation-delay: 0.2s;
}

.three {
  width: 60vw;
  height: 60vw;
  border-radius: 60vw;
  background: #d54141;
  z-index: 4;
  animation-delay: 0.3s;
}
.two {
  width: 40vw;
  height: 40vw;
  background: #e55555;
  border-radius: 40vw;
  z-index: 5;
  animation-delay: 0.4s;
}
.one {
  width: 20vw;
  height: 20vw;
  background-image: radial-gradient(circle, #073057, #000);
  border-radius: 20vw;
  box-shadow: 0px 0px 160px #999;
  z-index: 6;
  animation-delay: 0s;
}
@keyframes circle-shadow {
  0% {
    box-shadow: inset 0px 0px 20px #000;
  }
  50% {
    box-shadow: inset 0px 0px 180px #000;
  }
}
.LooneyTunes {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 80px;
  color: #fff;
  font-family: "Luckiest Guy";
  animation: pop-up 0.7s ease-out;
  word-wrap: break-word;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.image_container {
  height: 400px;
  width: 400px;
  margin-bottom: 4px;
}

.ThatsAllFolks {
  position: absolute;
  left: 50%;
  top: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 80px;
  color: #fff;
  font-family: "Luckiest Guy";
  animation: pop-up 0.7s ease-out;
  font-family: Luckiest Guy;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@keyframes appearAfter {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop-up {
  0% {
    font-size: 0vh;
  }
  90% {
    font-size: 5vh;
  }
  100% {
    font-size: 4vh;
  }
}
path {
  stroke-width: 3;
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  stroke: white;
  fill: transparent;
  animation: letter-animation 5s alternate forwards;
}
#Q1 {
  animation-delay: 0.5s;
}
#Q2 {
  animation-delay: 0.5s;
}
#T1 {
  animation-delay: 0.8s;
}
#H {
  animation-delay: 1.2s;
}
#A1 {
  animation-delay: 1.6s;
}
#T2 {
  animation-delay: 2s;
}
#Q3 {
  animation-delay: 2.6s;
}
#S1 {
  animation-delay: 2.9s;
}
#A2 {
  animation-delay: 3.3s;
}
#L1 {
  animation-delay: 3.7s;
}
#L2 {
  animation-delay: 4.1s;
}
#F {
  animation-delay: 4.4s;
}
#O {
  animation-delay: 4.9s;
}
#L3 {
  animation-delay: 5.3s;
}
#K {
  animation-delay: 5.7s;
}
#S2 {
  animation-delay: 6.1s;
}
#Exc {
  animation-delay: 6.3s;
}
#Q4 {
  animation-delay: 6.7s;
}
@keyframes letter-animation {
  0% {
    stroke-dashoffset: 1600;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
