.container_qr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr {
  background-color: #c2c2c229;
  backdrop-filter: blur(5px);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  z-index: 1;
  position: relative;

}

.title {
  color: white;
  font-family: Luckiest Guy;
  font-weight: 400;
  margin-bottom: .5rem;
  word-wrap: break-word;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

.subtitle {
  color: white;
  font-family: Luckiest Guy;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.container_image {
  margin-bottom: 2rem;
}

.text {
  margin-bottom: 2.5rem;
}
